DATABASE_URL=postgresql+psycopg://postgres:RaahilHayan@localhost:5432/visionai
SECRET_KEY=SECRET_KEY=cd035af24639d41d202fd53f32a81eca0879b96ffff3816300d4b5ac46f25d96
ACCESS_TOKEN_EXPIRE_MINUTES=1440
BACKEND_CORS_ORIGINS=http://localhost:3000
